<section class="dubbelpadding sloganbox" id="sloganbox10">
    <h1 class="slogan text-center">Body butters work best on wet skin</h1>
</section>
<section class="produktkort">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front twenty2">
                <h1>No 22</h1>
                <p>Calming Shea<br>Body Butter</p>
            </div>
            <div class="flip-card-back">
                <a href=" /no22-sheabodybutter">
                    <img class="img-fluid" src="/hemsidan/img/DrHardmans_No22_Calming_Shea_Butter.png"
                         alt="Dr Hardman No.22 Calming Shea Body Butter"/>
                </a>

            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front twenty3">
                <h1>No 23</h1>
                <p>Citrus<br>Body Butter</p>
            </div>
            <div class="flip-card-back">
                <a href="/no23-citrusbodybutter">
                    <img class="img-fluid" src="/hemsidan/img/Burk_citrus500.png" alt="Dr Hardman No.23 citrus body butter">
                </a>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front twenty4">
                <h1>No 24</h1>
                <p>Choko<br>Body Butter</p>
            </div>
            <div class="flip-card-back">
                <a href="/no24-cocoabodybutter">
                    <img class="img-fluid mx-auto pb-3" src="/hemsidan/img/DrHardmans_No24_Cocoa_Body_Butter.png"
                         alt="Dr Hardman No.24 cocoa body butter">
                </a>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front twenty5">
                <h1>No 25</h1>
                <p>Mango<br>Body Butter</p>
            </div>
            <div class="flip-card-back">
                <a href="/no25-mangobodybutter">
                    <img class="img-fluid mx-auto pb-3" src="/hemsidan/img/Burk_mango500.png"
                         alt="Dr Hardman No.25 mango body butter">
                </a>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front twenty6">
                <h1>No 26</h1>
                <p>Rose<br>Body Butter</p>
            </div>
            <div class="flip-card-back">
                <a href="/no26-rosebodybutter">
                    <img class="img-fluid mx-auto pb-3" src="/hemsidan/img/DrHardmans_No26_Rose_Body_Butter.png"
                         alt="Dr Hardman No.26 rose body butter">
                </a>
            </div>
        </div>
    </div>
</section>