<section class="produktkort">
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-12">
         <p>This borrows from <a href="https://davidwalsh.name/css-flip">David Walsh's css-flip solution</a></p>
         <p>In this version, cards can be variable heights</p>
       </div>
     </div>

   </div>
   <div class="container">
         <div class="flip-card" onclick="this.classList.toggle('hover');">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                   <!-- front content -->
                       <h1>No 24</h1>
                        <p>Choko<br>Body Butter</p>
                     <p>more on the back</p>
                </div> <!-- .front -->
                <div class="flip-card-back">
               <!-- back content -->
                        <a href="/no24-cocoabodybutter">
                          <img class="img-fluid" src="/hemsidan/img/DrHardmans_No24_Cocoa_Body_Butter.png"
                           alt="Dr Hardman No.24 cocoa body butter">
                        </a>
                </div> <!-- .back -->
            </div> <!-- .flip-card-inner -->
         </div> <!-- .flip-card -->

    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover')" ontouchend="this.classList.toggle('hover')">
    	<div class="flipper">
    		<div class="front">
    			<h1>No 24</h1>
                 <p>Choko<br>Body Butter</p>
    		</div>
    		<div class="back">
    			<a href="/no24-cocoabodybutter">
                   <img class="img-fluid" src="/hemsidan/img/DrHardmans_No24_Cocoa_Body_Butter.png" alt="Dr Hardman No.24 cocoa body butter">
                 </a>
    		</div>
    	</div>
    </div>
</section>
<section

